html {
	--bg:    #eeeeee;
	--bgdim: #e4e4e4;
	--fg:    #1b1b1b;
	--fgdim: #acacac;
}

@media (prefers-color-scheme: dark) {
	html {
		--bg:    #111111;
		--bgdim: #1b1b1b;
		--fg:    #e4e4e4;
		--fgdim: #535353;
	}

	img[src="/public/icon.svg"],
	img[src="/public/rss.svg"] {
		filter: invert(1);
	}
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	margin: 0;
	padding: 0 24%;
}

header {
	border-bottom: solid 1px;
	font-size: 1.3em;
}

footer {
	border-top: solid 1px;
	font-size: 0.9em;
	text-align: center;
	width: 100%;
}

header,
footer {
	color: var(--fgdim);
	font-family: serif;
	margin: 1em 0;
	padding: 1em 0;
}

header nav {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

header a {
	text-decoration: none;
}

header a:hover {
	color: var(--fg);
	opacity: 1;
	text-decoration: none;
}

a {
	color: inherit;
	text-decoration: underline;
	transition: 0.2s ease;
}

a:hover {
	opacity: 0.7;
	text-decoration: underline;
}

a[rel="footnote"],
a[rel="footnote"]:hover,
a[rev="footnote"],
a[rev="footnote"]:hover {
	text-decoration: none;
}

.footnotes {
	color: var(--fgdim);
	transition: 0.2s ease;
}

.footnotes:hover {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0;
	text-align: center;
}

p,
ul,
ol {
	margin: 0.5em 0;
}

ul,
ol {
	margin-left: 1.5em;
}

img {
	border-radius: 0.1em;
	max-width: 100%;
}

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img,
p img {
	border-radius: 0;
	max-height: 0.7em;
	max-width: 0.7em;
}

hr {
	border: solid 1px;
	color: var(--fgdim);
	margin: 2em 30%;
}

blockquote {
	border-left: solid 0.15em;
	border-left-color: var(--fgdim);
	font-style: italic;
	margin-left: 0.5em;
	padding: 0.5em 1em;
}

em,
figcaption {
	font-style: italic;
}

figcaption {
	font-size: 0.9em;
}

strong {
	font-weight: bold;
}

code,
pre,
table {
	background-color: var(--bgdim);
	border-radius: 0.3em;
	padding: 0.2em;
}

pre,
table {
	width: 100%;
}

pre {
	overflow: auto;
	padding: 1em;
	white-space: pre;
}

pre code {
	background: none;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

th,
td {
	overflow: hidden;
	padding: 0.5em;
	text-align: center;
	text-overflow: ellipsis;
	word-wrap: break-word;
}

sup {
	font-size: smaller;
}

@media (orientation: portrait) {
	body {
		padding: 0 2rem;
	}
}
