/* Variables. */

html {
	font-size: 18px;

	--transitiontime: 0.2s cubic-bezier(0.5, 0, 0.5, 1);

	--borderradius: 0.3em;
	--linesize: 1px;

	--monospace: "Office Code Pro", monospace;
	--sansserif: "Work Sans", sans-serif;
	--serif: "Libre Baskerville", serif;

	--titlefont: "Poppins", var(--serif);
	--titlesize: 1.8rem;
	--titleweight: 500;

	--bg:    #eeeeee;
	--bgdim: #e4e4e4;
	--fg:    #1b1b1b;
	--fgdim: #bbbbbb;

	--fgfilter:    brightness(0) invert(0) contrast(0.79);
	--fgdimfilter: brightness(0) invert(1) contrast(0.47);
}

@media (prefers-color-scheme: dark) {
	html {
		--bg:    #111111;
		--bgdim: #1b1b1b;
		--fg:    #e4e4e4;
		--fgdim: #444444;

		--fgfilter:    brightness(0) invert(1) contrast(0.79);
		--fgdimfilter: brightness(0) invert(0) contrast(0.47);
	}
}

/* Basic styles. */

h1,
h2 {
	font-family: var(--titlefont);
	font-weight: var(--titleweight);
	position: relative;
	text-align: center;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

a {
	color: var(--fg);
	text-decoration: none;
	transition: color var(--transitiontime);
}

a:hover {
	color: var(--fgdim);
}

a > img {
	filter: var(--fgfilter);
	transition: filter var(--transitiontime);
}

a:hover > img {
	filter: var(--fgdimfilter);
}

a::after,
a::before {
	color: var(--fgdim);
	transition: color var(--transitiontime);
}

a:hover::after,
a:hover::before {
	color: var(--fg);
}

a::after {
	content: ">";
}

a::before {
	content: "<";
}

p,
ul,
ol {
	margin: 1em 0;
}

ul,
ol {
	margin-left: 2.5em;
	padding: 0;
}

img {
	height: 0.7em;
	width: auto;
}

p img {
	border: solid var(--linesize);
	border-color: var(--fgdim);
	border-radius: var(--borderradius);
	filter: grayscale(1);
	height: auto;
	margin-left: 50%;
	margin-right: calc(50% - 24em);
	padding: 1em;
	transform: translateX(-50%);
	transition: all var(--transitiontime);
	width: 24em;
}

@media (orientation: portrait) {
	p img {
		margin-left: 0;
		transform: none;
		width: calc(100% - 2 * (1em + var(--linesize)));
	}
}

p img:hover {
	border-color: var(--fg);
	filter: grayscale(0);
}

hr {
	border: none;
	border-bottom: solid var(--linesize);
	color: var(--fgdim);
	margin: 2em 30%;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

blockquote,
pre {
	border-left: solid var(--linesize);
	color: var(--fgdim);
	margin-left: 0.5em;
	padding: 0.5em 1em;
	transition: color var(--transitiontime);
}

blockquote:hover,
pre:hover {
	color: var(--fg);
}

blockquote {
	font-style: italic;
}

pre {
	font-family: var(--monospace);
	overflow: auto;
	white-space: pre;
}

code {
	font-family: var(--monospace);
}

/* Body, header and footer styles. */

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: var(--sansserif);
	font-size: 1rem;
	line-height: 1.6;
	margin: 0 auto;
	max-width: 40rem;
	padding: 2rem;
}

header {
	align-items: flex-end;
	border-bottom: solid var(--linesize);
	display: flex;
	flex-direction: row;
	font-family: var(--titlefont);
	font-size: var(--titlesize);
	font-weight: var(--titleweight);
	justify-content: space-between;
}

footer {
	border-top: solid var(--linesize);
	font-family: var(--serif);
	text-align: center;
	width: 100%;
}

header,
footer {
	color: var(--fgdim);
	margin: 1em 0;
	padding: 1em 0;
}

header > div {
	flex-grow: 1;
	width: 100%;
}

header > div img {
	height: 3em;
	width: auto;
}

header > nav {
	display: flex;
	flex-direction: column;
}

header > nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

/* Specific styles. */

a.glow-hover {
	color: var(--fgdim);
	transition: color var(--transitiontime);
}

a.glow-hover:hover {
	color: var(--fg);
}

a.glow-hover::after,
a.glow-hover::before {
	content: "";
}

a.glow-hover img {
	filter: var(--fgdimfilter);
	transition: filter var(--transitiontime);
}

a.glow-hover:hover img {
	filter: var(--fgfilter);
}

div#publication-date,
div#discuss {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}

div#publication-date span,
div#discuss a {
	font-family: var(--titlefont);
	font-size: calc(0.8 * var(--titlesize));
	font-weight: var(--titleweight);
}

div#publication-date span {
	color: var(--fgdim);
}
