/* Variables. */

html {
	font-size: 18px;

	--transitiontime: 0.2s cubic-bezier(0.5, 0, 0.5, 1);

	--indentation: 2rem;
	--linesize: 1px;
	--paragraphgap: 2rem;

	--monospace: "Office Code Pro", monospace;
	--sansserif: "Work Sans", sans-serif;
	--serif: "Libre Baskerville", serif;

	--titlefont: "Poppins", var(--serif);
	--titlesize: 1.8rem;
	--titleweight: 500;

	--bg:    #eeeeee;
	--bgdim: #e4e4e4;
	--fg:    #1b1b1b;
	--fgdim: #bbbbbb;

	--fgfilter:    brightness(0) invert(0) contrast(0.79);
	--fgdimfilter: brightness(0) invert(1) contrast(0.47);
}

@media (prefers-color-scheme: dark) {
	html {
		--bg:    #111111;
		--bgdim: #1b1b1b;
		--fg:    #e4e4e4;
		--fgdim: #444444;

		--fgfilter:    brightness(0) invert(1) contrast(0.79);
		--fgdimfilter: brightness(0) invert(0) contrast(0.47);
	}
}

/* Body. */

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: var(--sansserif);
	font-size: 1rem;
	line-height: 1.6;
	margin: 0 auto;
	max-width: 38rem;
	overflow-wrap: break-word;
	padding: 0 2rem;
}

/* Basic styles. */

h1,
h2,
hr,
p,
blockquote,
ol,
pre,
ul {
	margin: 0;
}

h1:not(:first-child),
h2:not(:first-child),
hr:not(:first-child),
p:not(:first-child),
blockquote:not(:first-child),
ol:not(:first-child),
pre:not(:first-child),
ul:not(:first-child) {
	margin-top: var(--paragraphgap);
}

h1,
h2 {
	font-family: var(--titlefont);
	font-weight: var(--titleweight);
	position: relative;
	text-align: center;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

hr {
	border: none;
	border-bottom: solid var(--linesize);
	color: var(--fgdim);
	margin-left: 30%;
	margin-right: 30%;
}

ol,
ul {
	margin-left: var(--indentation);
	padding: 0;
}

li::marker {
	color: var(--fgdim);
	transition: color var(--transitiontime);
}

li:hover::marker {
	color: var(--fg);
}

a {
	color: var(--fg);
	text-decoration: none;
	transition: color var(--transitiontime);
}

a:hover {
	color: var(--fgdim);
}

a > img {
	filter: var(--fgfilter);
	transition: filter var(--transitiontime);
}

a:hover > img {
	filter: var(--fgdimfilter);
}

a::after,
a::before {
	color: var(--fgdim);
}

a::after {
	content: ">";
}

a::before {
	content: "<";
}

img {
	height: 0.7em;
	width: auto;
}

blockquote,
pre,
p img {
	border-left: solid var(--linesize);
	color: var(--fgdim);
	margin-left: var(--indentation);
	padding: 0.5em 1em;
	transition: color var(--transitiontime);
}

blockquote:hover,
pre:hover,
p:hover img {
	color: var(--fg);
}

p img {
	filter: grayscale(1);
	height: auto;
	transition: all var(--transitiontime);
	/* Remove the same amount of space to the right as to the left to
	   center the img. */
	width: calc(100% - 2 * (var(--linesize) + var(--indentation) + 2em));
}

p:hover img {
	filter: grayscale(0);
}

blockquote {
	font-style: italic;
}

pre {
	font-family: var(--monospace);
	overflow: auto;
	white-space: pre;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

code {
	font-family: var(--monospace);
}

/* Specific styles. */

header {
	align-items: flex-end;
	border-bottom: solid var(--linesize);
	display: flex;
	flex-direction: row;
	font-family: var(--titlefont);
	font-size: var(--titlesize);
	font-weight: var(--titleweight);
	justify-content: space-between;
}

footer {
	border-top: solid var(--linesize);
	font-family: var(--serif);
	text-align: center;
	width: 100%;
}

header,
footer {
	color: var(--fgdim);
	margin: 1em 0;
	padding: 1em 0;
}

header > div {
	flex-grow: 1;
	width: 100%;
}

header > div img {
	height: 3em;
	width: auto;
}

header > nav {
	display: flex;
	flex-direction: column;
}

header > nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

a.glow-hover {
	color: var(--fgdim);
	transition: color var(--transitiontime);
}

a.glow-hover:hover {
	color: var(--fg);
}

a.glow-hover::after,
a.glow-hover::before {
	content: "";
}

a.glow-hover img {
	filter: var(--fgdimfilter);
	transition: filter var(--transitiontime);
}

a.glow-hover:hover img {
	filter: var(--fgfilter);
}

div#publication-date,
div#discuss {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}

div#publication-date span,
div#discuss a {
	font-family: var(--titlefont);
	font-size: calc(0.8 * var(--titlesize));
	font-weight: var(--titleweight);
}

div#publication-date span {
	color: var(--fgdim);
}
